<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.mGBA</string>
	<key>Core Version</key>
	<string>0.6.3</string>
	<key>Name</key>
	<string>Save-Game-5 2019-03-04 16:00:54 -0700</string>
	<key>ROM MD5</key>
	<string>9d33a02159e018d09073e700e1fd10fd</string>
	<key>Timestamp</key>
	<date>2019-03-04T23:00:54Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
