<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.mGBA</string>
	<key>Core Version</key>
	<string>0.8.4</string>
	<key>Name</key>
	<string>Save-Game-113 2022-07-18 12:59:20 -0600</string>
	<key>ROM MD5</key>
	<string>9d33a02159e018d09073e700e1fd10fd</string>
	<key>Timestamp</key>
	<date>2022-07-18T18:59:20Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
